@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* UPDATE: Ubah background jadi gelap */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  /* Warna dasar gelap kebiruan */
  background-color: #f8f9fa; /* slate-900 */
  color: rgb(3, 3, 3); /* Default teks jadi putih */
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}