@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* RESET BODY AGAR FULL SCREEN */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f8fafc; /* Warna background global */
}

/* RESET ROOT JUGA */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}